<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Lista de Livros</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

</head>
<body>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Livros</h1>
		</div>

		<form class="form-inline" method="POST" th:object="${livro}"
			th:action="@{/livro}" style="margin: 20px">
			<div class="form-group">
				<input type="text" class="form-control" style="margin: 10px"
					placeholder="titulo" th:field="*{Titulo}" /> <input type="text"
					class="form-control" style="margin: 10px" placeholder="autor"
					th:field="*{autor}" /> <input type="text" class="form-control"
					style="margin: 10px" placeholder="ano" th:field="*{ano}" /> <input
					type="text" class="form-control" style="margin: 10px"
					placeholder="editora" th:field="*{editora}" />
				<button type="submit" class="btn btn-primary" style="margin: 10px">Adicionar</button>
			</div>
		</form>

		<div>
			<table>
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="livro : ${livro}">
						<td th:text="${livro.titulo}"></td>
						<td th:text="${livro.status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>